.header {
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #182738;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left img {
    height: 45px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: white;
}

